
body{
  font-family: 'Quicksand', sans-serif;
  
  font-size: 25px;
  }
  
  .center {
      margin: auto;
    }

.navbar-light .navbar-brand {
  color:black;
  font-family: 'Quicksand', sans-serif;
  font-size: x-large;
  
}
.navbar-light .navbar-nav .nav-link { 
  color:black;
  font-family: 'Quicksand', sans-serif;
  font-size: large;
}
  
.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.left {
  float: left;
  width: 50%;
  padding-right:30px;
}

.right {
  float: right;
  width: 50%;
}

     .row{
         
      margin-right: 0 !important;
     }

     
   h1{
      color: rgb(216,173,160);
      
    }
   
   h2{
    
     text-align: justify;
    color: rgb(216,173,160);
   }
   h3{
    color: rgb(216,173,160);
   } 


   

      h2{
        color: rgb(216,173,160);
        text-align: left;
        margin-top: 5%;
        margin-bottom: 5%;
        font-family: 'Quicksand', sans-serif;
        font-size: 30px
    }

    


        p{
            font-family: 'Quicksand', sans-serif;
            text-align: justify;
            color:black;
            font-size: 20px;
          
          
          }
          h5{
            color:white;
            font-family: 'Quicksand', sans-serif;
           
        }
    

          #footer {
            flex-shrink: none;
            background: rgb(216,173,160);
            position: relative;
            float:left;
            bottom: 0;
            width:100%;
            margin-top:100px;
          }
          
        
       

        @media (max-width: 767px) {

          .right{ width:100%; }
          .left{width:100%;}
          h6 { margin-left: 6%; }
          #footer{float:left; position:relative;}
        }
    