body{
  font-family: 'Quicksand', sans-serif;
  
  font-size: 25px;
  }
  
  .center {
      margin: auto;
    }

.navbar-light .navbar-brand {
  color:black;
  font-family: 'Quicksand', sans-serif;
  font-size: x-large;
  
}
.navbar-light .navbar-nav .nav-link { 
  color:black;
  font-family: 'Quicksand', sans-serif;
  font-size: large;
}
  
.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}



     .row{
         
      margin-right: 0 !important;
     }


  .conteiner{
       margin-left: 50%;
       text-align: center;
  }


   .col-sm-12{
       padding-top: 20px;
   }
  .col-sm-12:hover {
      -ms-transform: scale(1.05); /* IE 9 */
      -webkit-transform: scale(1.05); /* Safari 3-8 */
      transform: scale(1.05); 
  }

  
          h5{
            color:white;
            font-family: 'Quicksand', sans-serif;
           
        }
        
          #sticky-footer {
            flex-shrink: none;
            background: rgb(216,173,160);
          }
          
        
         
  
          @media (max-width: 767px) {
  
               
          }
  